header.p-4.tac.vh50
  aside
    img.actividad__obra.rounded(src="./img/avatar.jpg" alt='Avatar Sergio Forés')
    img(src='' alt='')
    svg.logo(xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.5' viewbox='0 0 118 118')
      circle(cx='102436' cy='13938.8' r='553.055' transform='rotate(180 2695.11 394.127) scale(.05233)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' style='fill:#2bc4a9;' transform='rotate(180 1391.936 211.88) scale(.02618)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' style='fill:#ff6874;' transform='rotate(180 1377.459 211.88) scale(.02618)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' style='fill:#9f9fff;' transform='rotate(180 1362.98 211.88) scale(.02618)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' style='fill:#ffff9f;' transform='rotate(180 1348.504 211.88) scale(.02618)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' transform='rotate(180 5389.747 758.822) scale(.10466)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' style='fill:none;' transform='rotate(180 2709.611 394.127) scale(.05233)' vector-effect='non-scaling-stroke')
      circle(cx='102436' cy='13938.8' r='553.055' transform='rotate(180 2724.08 394.127) scale(.05233)' vector-effect='non-scaling-stroke')
  hgroup
    h1.pb-1.pt-1 Sergio For&eacute;s
    h2
      | El Arte de descifrar la creacion desde el vacio original. Descifrando la Creaci&oacute;n  desde el Arte En la intersecci&oacute;n del Arte, el Dise&ntilde;o y la l&oacute;gica metaf&iacute;sica
